{
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro",
        "singleQuote": false,
        "jsxSingleQuote": false,
        "htmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files": ["*.html", "*.xml", "*.svg"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["*.css", "*.scss"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["*.js", "*.ts", "*.mjs"],
      "options": {
        "singleQuote": true
      }
    }
  ]
}