---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="About - Quasar Contact"
  description="Learn about Quasar Contact, a secure end-to-end encrypted messaging platform focused on privacy and security."
>
  <div class="main-content page-content">
    <div class="container inner">
      <div class="page-header">
        <h2>About Quasar Contact</h2>
        <p class="page-subtitle">Secure, private, and end-to-end encrypted messaging</p>
      </div>

      <div class="about-content">
        <div class="content-section">
          <svg
            class="about-icon"
            width="1024"
            height="1024"
            viewBox="0 0 1024 1024"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M581.656 487.322L581.628 208.248C581.608 193.395 575.808 164.319 591.288 159.055C608.074 158.88 603.008 183.983 603.064 194.827C628.576 190.492 653.364 182.299 679.02 178.138C686.216 176.971 694.808 180.389 701.768 181.944C714.872 184.872 794.586 197.772 799.244 201.488C812.346 211.938 793.274 227.57 786.332 236.04L756.208 272.846C766.994 288.444 779.836 303.034 791.632 317.9C799.304 327.572 815.75 342.166 796.622 350.462C784.79 348.304 773.09 345.166 761.354 342.532L712.166 331.978C678.162 324.578 684.666 324.62 650.514 331.97C634.728 335.366 618.916 338.556 603.064 341.622V487.322L709.47 593.084C735.778 618.982 740.816 635.002 758.166 667.194L846.7 827.416C850.368 834.052 856.562 842.226 858.758 849.226C865.408 870.422 820.842 863.81 810.524 863.798L220.506 863.764C205.62 863.75 190.215 864.644 175.401 863.68C146.992 861.828 180.191 825.352 186.91 815.702L254.044 713.482C270.77 687.79 265.318 687.202 294.198 700.272C302.7 656.016 310.504 611.59 319.85 567.5C273.422 567.996 281.98 524.148 281.998 492.702C282.03 434.706 276.484 440.068 326.196 401.476C337.422 392.76 346.51 384.482 360.356 380.372C308.112 355.994 327.23 272.446 390.064 278.762C438.924 283.674 457.336 343.162 414.95 377.072C434.998 383.936 454.748 395.118 475.158 400.32C480.984 398.076 485.738 393.974 490.776 390.386L512.646 375.08C517.686 371.57 522.718 367.622 528.22 364.878C561.724 348.166 592.416 392.926 565.99 417.578C560.706 422.508 554.266 426.414 548.298 430.458L522.96 447.626C482.174 475.362 490.914 476.502 442.1 458.882C443.066 474.542 441.382 498.446 440.95 515.15C440.242 542.518 441.328 540.68 452.216 566.748C460.788 587.27 469.302 607.866 479.158 627.816C491.424 612.416 502.448 595.902 513.884 579.88L567.702 505.724C572.21 499.512 576.544 493.056 581.656 487.322ZM679.552 200.16C656.266 204.044 625.842 211.636 603.064 217.798V318.756C638.162 314.958 666.09 299.332 700.378 306.962L727.606 313.008C740.848 315.87 754.632 318.582 767.552 322.662L744.332 292.988C737.71 284.584 726.47 276.262 734.192 265.11C744.688 249.954 761.742 232.67 773.788 217.798C763.792 215.582 681.56 199.758 679.552 200.16ZM380.364 299.794C362.432 302.036 349.692 318.364 351.88 336.302C354.066 354.242 370.354 367.032 388.302 364.9C406.326 362.758 419.182 346.384 416.986 328.366C414.79 310.348 398.376 297.542 380.364 299.794ZM541.604 382.542C523.724 390.332 495.374 420.208 477.97 421.904C456.402 424.006 431.028 402.234 409.832 399.18C400.216 397.794 371.846 397.76 363.298 401.566C352.212 406.498 342.174 416.192 332.588 423.562C293.534 453.594 303.34 450.494 303.39 498.838C303.406 513.19 297.426 541.99 313.574 546.372L315.182 546.794C330.27 542.46 326.978 528.282 326.934 515.792L326.826 483.46C326.804 475.568 326.506 449.452 343.306 460.364C351.944 465.976 348.4 487.442 348.414 496.088C348.474 531.32 347.616 536.586 341.016 570.358C332.646 613.184 319.186 665.58 315.182 708.558C320.092 710.304 324.742 712.574 329.41 714.872C337.254 705.914 339.314 703.424 341.848 691.368L369.324 562.756C370.852 555.452 372.962 532.926 384.788 535.486C395.154 537.728 394.39 550.1 397.556 557.8L420.85 613.38C425.582 624.772 434.094 647.43 440.866 657.272C443.49 661.086 447.982 663.7 451.294 666.886C455.504 660.628 460.288 654.344 463.974 647.776C456.2 632.202 450.042 615.8 443.18 599.802L427.174 561.792C418.956 541.906 418.778 541.486 419.152 520.304C419.39 506.866 419.416 446.922 422.478 437.962C425.84 428.132 437.252 433.796 444.002 436.41C487.826 453.382 475.128 454.052 515.34 426.614C525.526 419.662 540.932 410.256 550.032 402.38C559.318 394.346 551.692 383.464 541.604 382.542ZM593.422 507.868C583.074 519.724 574.382 533.478 565.172 546.248L484.35 657.814C478.324 665.962 471.73 674.002 466.762 682.85C499.306 708.066 522.148 741.896 551.418 767.932C560.414 767.94 595.414 766.824 600.898 768.62C604.02 769.642 666.87 831.162 675.786 841.472H703.75H829.528C824.842 831.98 819.186 822.998 814.112 813.712L729.306 658.762C710.53 623.678 709.104 623.14 680.818 595.21L623.212 537.84C613.368 528.018 602.508 518.38 593.422 507.868ZM385.57 586.86C380.006 616.344 373.378 645.652 367.352 675.048C362.34 699.5 366.682 706.806 350.188 724.108C353.532 725.598 356.848 726.738 360.356 727.774C364.684 723.604 368.79 719.236 372.918 714.872C388.548 698.818 405.968 683.918 420.49 666.886C415.71 648.632 394.268 603.824 385.57 586.86ZM436.844 682.85C430.704 689.242 369.088 751.556 364.098 751.892C358.636 752.262 289.42 721.514 278.406 716.92C251.486 756.13 220.272 800.818 195.786 841.472H369.25H645.676C627.59 824.884 610.948 806.64 593.422 789.44L562.826 789.472C556.52 789.498 550.008 790.084 543.754 789.07C538.614 788.236 512.828 758.246 507.478 752.928L462.948 708.626C454.266 700.056 445.24 691.692 436.844 682.85Z"
              fill="url(#paint0_linear_611_1488)"></path>
            <defs>
              <linearGradient
                id="paint0_linear_611_1488"
                x1="819.5"
                y1="209.5"
                x2="164"
                y2="865"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#95E06C"></stop>
                <stop offset="1" stop-color="#68B684"></stop>
              </linearGradient>
            </defs>
          </svg>
          <div class="content-text">
            <h3>My Mission</h3>
            <p>
              Quasar Contact is dedicated to providing secure, private communication for everyone.
              In an age where digital privacy is increasingly under threat, I believe that secure
              communication should be accessible, reliable, and completely private.
            </p>
          </div>
        </div>

        <hr />

        <div class="content-section">
          <svg
            class="about-icon"
            width="1024"
            height="1024"
            viewBox="0 0 1024 1024"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M644.851 396.92C620.575 396.492 594.921 384.094 577.331 367.642C504.931 299.918 550.325 175.664 648.261 173.451C670.485 171.615 692.251 178.662 710.789 190.597C800.659 137.151 903.573 219.266 875.169 317.58C857.583 378.452 795.167 409.592 735.379 392.218C730.119 390.47 726.885 395.168 722.107 398.668C704.403 411.638 672.035 434.564 652.883 445.106C628.411 458.576 643.287 404.434 644.851 396.92ZM648.261 194.04C538.589 197.348 532.525 365.618 643.025 376.99C653.047 378.022 661.807 375.13 666.731 386.008C666.141 395.48 663.349 404.79 662.233 414.216C673.203 406.554 722.825 371.404 731.739 368.736C737.099 370.592 742.301 373.072 747.801 374.466C795.667 386.098 844.935 355.536 856.507 307.626C875.449 229.202 791.869 163.99 722.945 207.022C706.639 217.204 710.715 214.37 694.965 205.084C682.479 197.721 662.887 191.278 648.261 194.04Z"
              fill="url(#paint0_linear_616_1526)"></path>
            <path
              d="M672.772 304.022C663.022 306.238 653.321 300.138 651.091 290.39C648.863 280.644 654.949 270.932 664.693 268.69C674.457 266.444 684.188 272.546 686.422 282.31C688.654 292.076 682.542 301.8 672.772 304.022Z"
              fill="url(#paint1_linear_616_1526)"></path>
            <path
              d="M751.277 303.982C741.591 306.432 731.755 300.554 729.325 290.862C726.897 281.172 732.797 271.35 742.495 268.942C752.159 266.544 761.943 272.42 764.365 282.08C766.785 291.74 760.931 301.538 751.277 303.982Z"
              fill="url(#paint2_linear_616_1526)"></path>
            <path
              d="M242.065 640.2C215.971 640.194 188.248 643.688 166.92 625.432C142.093 604.182 145.517 574.95 145.528 545.766L145.514 425.598C145.514 416.128 144.628 405.652 146.286 396.354C151.656 366.236 176.667 345.768 206.883 343.746C227.481 342.248 252.997 343.76 274.155 343.762L471.883 343.728C501.081 343.682 527.001 341.268 549.523 363.48C563.733 377.498 566.759 395.094 566.945 414.258L566.965 562.792C566.997 597.348 560.263 627.888 520.255 638.112C505.821 641.8 487.651 640.2 472.687 640.2H411.773C363.413 640.272 358.181 630.7 321.061 656.988C299.365 672.35 259.173 702.876 235.839 714.186C229.165 717.42 220.101 712.816 221.061 704.702C221.723 699.094 224.471 692.998 226.309 687.646L235.987 659.5C238.077 653.418 240.427 647.294 241.877 641.022L242.065 640.2ZM210.251 364.082C172.124 365.918 165.577 389.582 165.753 422.59L165.774 535.638C165.762 565.208 158.734 609.33 196.881 618.454C208.173 621.154 229.619 619.906 241.747 619.766C286.253 619.248 258.949 644.706 252.909 676.02L252.327 679.034C263.115 669.988 275.897 662.964 287.557 655.06L317.429 634.578C342.729 616.964 337.681 619.766 369.985 619.78L479.883 619.844C523.651 619.832 546.521 619.366 546.555 564.46L546.551 411.488C546.399 365.846 514.023 364.074 477.875 364.072L210.251 364.082Z"
              fill="url(#paint3_linear_616_1526)"></path>
            <path
              d="M358.743 530.292C340.035 531.222 324.145 516.748 323.331 498.036C322.517 479.322 337.089 463.522 355.807 462.824C374.361 462.132 389.993 476.55 390.799 495.098C391.607 513.648 377.287 529.37 358.743 530.292ZM355.115 482.74C347.515 483.832 342.239 490.878 343.331 498.478C344.423 506.078 351.471 511.352 359.071 510.258C366.667 509.162 371.939 502.118 370.847 494.522C369.755 486.924 362.713 481.65 355.115 482.74Z"
              fill="url(#paint4_linear_616_1526)"></path>
            <path
              d="M463.303 530.362C444.475 531.946 427.967 517.874 426.549 499.032C425.131 480.19 439.347 463.806 458.201 462.554C476.821 461.316 492.959 475.32 494.359 493.928C495.759 512.538 481.899 528.798 463.303 530.362ZM457.727 482.772C452.739 483.66 448.617 487.174 446.953 491.962C445.289 496.748 446.341 502.06 449.703 505.852C453.065 509.644 458.213 511.324 463.165 510.244C469.441 508.876 473.983 503.412 474.181 496.99C474.311 492.774 472.531 488.722 469.339 485.964C466.147 483.206 461.881 482.032 457.727 482.772Z"
              fill="url(#paint5_linear_616_1526)"></path>
            <path
              d="M260.251 530.254C248.187 532.378 235.913 527.86 228.107 518.42C220.303 508.98 218.171 496.074 222.525 484.626C226.881 473.178 237.049 464.952 249.155 463.084C267.595 460.242 284.889 472.772 287.929 491.18C290.969 509.59 278.625 527.016 260.251 530.254ZM251.801 482.712C244.237 484.08 239.179 491.278 240.457 498.858C241.735 506.438 248.871 511.582 256.465 510.394C261.459 509.614 265.649 506.208 267.433 501.478C269.215 496.748 268.319 491.426 265.083 487.542C261.849 483.658 256.775 481.814 251.801 482.712Z"
              fill="url(#paint6_linear_616_1526)"></path>
            <path
              d="M594.528 587.17C587.614 581.084 585.77 569.68 596.956 566.796L643.032 566.754C685.272 566.758 716.838 570.376 717.01 621.738L717.026 699.994C717.006 752.906 718.214 786.032 654.312 786.058L630.074 786.034C632.264 796.188 654.142 840.996 634.194 841.714C625.622 842.022 606.668 826.97 599.546 822.266L565.286 799.962C533.312 778.766 534.68 785.976 494.064 786.088C439.712 786.238 432.568 761.938 432.658 712.75C432.65 706.244 426.922 649.286 448.114 663.514C454.862 668.046 453.148 680.668 453.14 687.512L453.076 718.546C453.024 778.496 482.146 765.644 533.394 765.268C552.304 765.128 551.21 766.574 567.124 776.682L614.682 807.41C611.692 797.084 608.174 786.91 605.298 776.56C608.36 765.206 614.748 765.192 625.186 765.246L649.352 765.392C693.316 765.65 696.564 755.944 696.542 713.616L696.558 635.306C696.622 593.678 691.42 587.08 652.806 587.112L614.994 587.184C608.42 587.224 601.7 587.718 595.154 587.224L594.528 587.17Z"
              fill="url(#paint7_linear_616_1526)"></path>
            <defs>
              <linearGradient
                id="paint0_linear_616_1526"
                x1="851.5"
                y1="206"
                x2="305.5"
                y2="752"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#95E06C"></stop>
                <stop offset="1" stop-color="#68B685"></stop>
              </linearGradient>
              <linearGradient
                id="paint1_linear_616_1526"
                x1="851.5"
                y1="206"
                x2="305.5"
                y2="752"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#95E06C"></stop>
                <stop offset="1" stop-color="#68B685"></stop>
              </linearGradient>
              <linearGradient
                id="paint2_linear_616_1526"
                x1="851.5"
                y1="206"
                x2="305.5"
                y2="752"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#95E06C"></stop>
                <stop offset="1" stop-color="#68B685"></stop>
              </linearGradient>
              <linearGradient
                id="paint3_linear_616_1526"
                x1="851.5"
                y1="206"
                x2="305.5"
                y2="752"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#95E06C"></stop>
                <stop offset="1" stop-color="#68B685"></stop>
              </linearGradient>
              <linearGradient
                id="paint4_linear_616_1526"
                x1="851.5"
                y1="206"
                x2="305.5"
                y2="752"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#95E06C"></stop>
                <stop offset="1" stop-color="#68B685"></stop>
              </linearGradient>
              <linearGradient
                id="paint5_linear_616_1526"
                x1="851.5"
                y1="206"
                x2="305.5"
                y2="752"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#95E06C"></stop>
                <stop offset="1" stop-color="#68B685"></stop>
              </linearGradient>
              <linearGradient
                id="paint6_linear_616_1526"
                x1="851.5"
                y1="206"
                x2="305.5"
                y2="752"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#95E06C"></stop>
                <stop offset="1" stop-color="#68B685"></stop>
              </linearGradient>
              <linearGradient
                id="paint7_linear_616_1526"
                x1="851.5"
                y1="206"
                x2="305.5"
                y2="752"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#95E06C"></stop>
                <stop offset="1" stop-color="#68B685"></stop>
              </linearGradient>
            </defs>
          </svg>
          <div class="content-text">
            <h3>What I Do</h3>
            <p>
              I've built a messaging platform that implements military-grade end-to-end encryption,
              ensuring that your conversations remain completely private. My zero-knowledge
              architecture means that I cannot access your messages, even if I wanted to.
            </p>
          </div>
        </div>

        <hr />

        <div class="content-section">
          <svg
            class="about-icon"
            width="1024"
            height="1024"
            viewBox="0 0 1024 1024"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M511.085 372.028C526.147 287.15 594.147 223.494 681.963 222.376C819.729 213.414 915.401 370.066 842.421 493.794C791.029 580.922 678.215 608.738 591.601 557.144C557.251 536.684 521.061 493.542 511.085 453.768L510.003 454.6C481.391 476.63 477.187 496.056 444.393 455.352C435.865 463.392 422.111 485.252 408.995 474.878C408.383 494.942 408.961 515.236 408.995 535.32C436.469 568.43 444.367 554.628 444.393 599.1L444.513 748.722C444.511 751.7 444.761 755.568 443.819 758.422C441.963 764.05 410.519 798.664 401.835 801.092C394.691 803.09 386.359 802.382 379.001 802.386L263.865 802.372C259.295 802.37 252.125 803.34 248.211 800.358C241.887 795.538 210.051 763.582 206.023 757.276C205.303 750.884 206.005 744.046 206.011 737.592L206.015 618.61C206.013 567.618 198.616 575.876 237.619 540.62C231.515 533.82 224.765 527.464 218.301 521.002L181.946 484.966C174.445 477.578 166.017 470.23 159.394 462.052C149.774 450.172 168.754 438.95 176.117 431.412C183.113 424.248 230.953 373.838 236.933 372.704C243.027 371.548 249.631 372.004 255.825 372.004L388.887 372.028C380.541 323.828 327.903 296.568 282.371 308.008C274.727 309.928 266.929 313.93 259.243 315.088C250.673 316.378 243.143 306.41 249.661 299.356C255.475 293.066 276.977 287.904 285.325 286.522C338.167 277.768 407.899 315.016 408.995 372.028H511.085ZM685.015 242.95C607.277 244.37 547.873 297.328 532.295 372.028H672.013C684.245 338.742 725.449 322.774 757.765 334.93C792.735 348.082 812.047 387.812 798.401 423.04C771.011 493.748 664.481 476.346 666.891 392.51H413.375C411.791 392.554 410.665 392.284 409.377 393.252C407.211 409.632 409.757 432.294 408.995 449.7C411.041 451.568 413.193 453.394 415.149 455.352C422.477 447.852 433.327 434.386 443.117 431.33C453.299 433.996 467.407 450.298 476.589 457.718C482.737 451.53 499.355 433.838 506.595 431.33C530.795 436.494 526.025 435.7 533.913 457C568.593 550.654 684.267 592.682 769.291 538.816C845.275 490.678 870.703 392.812 821.843 315.88C794.593 272.974 737.309 238.5 685.015 242.95ZM729.607 352.056C703.747 354.864 685.055 378.1 687.855 403.96C690.653 429.822 713.883 448.52 739.745 445.73C765.619 442.938 784.327 419.694 781.527 393.822C778.727 367.95 755.479 349.248 729.607 352.056ZM243.553 392.51C222.963 413.706 201.729 434.252 181.042 455.352C204.411 478.762 228.859 501.314 251.067 525.832C263.763 514.048 302.861 470.018 316.687 465.218C339.257 458.354 349.147 474.362 363.341 488.738C371.811 497.318 380.267 505.896 388.887 514.324V392.51H243.553ZM325.397 483.146C318.589 484.552 312.953 492.816 308.291 497.524L289.007 516.696C268.059 537.656 246.795 558.43 226.393 579.924V751.442C235.587 757.304 243.099 767.446 251.067 774.982C254.091 762.016 263.739 726.412 269.447 714.826C274.403 704.766 289.137 708.954 287.855 719.91C286.307 733.112 273.897 767.95 269.375 781.53H382.493C377.925 766.692 365.555 734.078 364.183 719.602C363.377 711.088 372.931 706.96 379.517 711.2C385.497 715.05 399.597 765.072 402.499 774.982C409.357 766.744 416.797 759.128 424.261 751.442L424.269 644.294C424.273 622.872 424.739 601.336 424.261 579.924C415.309 570.484 405.911 561.5 396.757 552.26L341.933 495.76C337.189 490.84 332.677 483.742 325.397 483.146Z"
              fill="url(#paint0_linear_611_1504)"></path>
            <path
              d="M329.769 596.79C308.567 599.282 289.341 584.16 286.769 562.968C284.197 541.776 299.245 522.492 320.427 519.84C341.725 517.172 361.135 532.318 363.721 553.626C366.307 574.932 351.087 594.284 329.769 596.79ZM320.665 540.62C310.839 543.084 304.861 553.034 307.299 562.866C309.739 572.696 319.673 578.7 329.511 576.288C339.385 573.866 345.415 563.886 342.969 554.018C340.521 544.152 330.525 538.146 320.665 540.62Z"
              fill="url(#paint1_linear_611_1504)"></path>
            <defs>
              <linearGradient
                id="paint0_linear_611_1504"
                x1="758"
                y1="215.288"
                x2="202.788"
                y2="770.5"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#95E06C"></stop>
                <stop offset="1" stop-color="#68B684"></stop>
              </linearGradient>
              <linearGradient
                id="paint1_linear_611_1504"
                x1="758"
                y1="215.288"
                x2="202.788"
                y2="770.5"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#95E06C"></stop>
                <stop offset="1" stop-color="#68B684"></stop>
              </linearGradient>
            </defs>
          </svg>
          <div class="content-text">
            <h3>Key Features</h3>
            <p>
              All messages are encrypted using Web Crypto API (AES-GCM) before leaving your device.
              Server never has access to decryption keys or plaintext messages. Instant message
              delivery via WebSocket connections. Installable on desktop and mobile devices with
              offline support.
            </p>
          </div>
        </div>

        <hr />

        <div class="content-section">
          <svg
            class="about-icon"
            width="1024"
            height="1024"
            viewBox="0 0 1024 1024"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M398.027 250.55C404.399 208.628 464.793 174.149 504.759 172.986C513.093 171.709 524.689 172.587 532.655 175.433C536.677 179.385 538.409 184.905 534.089 189.416C526.951 196.868 457.571 174.388 418.831 245.824C406.679 268.232 418.899 270.99 388.749 269.096C381.655 268.65 374.563 268.402 367.455 268.502C306.467 269.36 257.905 323.996 269.831 385.298C275.099 412.378 281.955 403.19 260.525 424.4L238.249 446.562C234.663 450.38 228.767 458.446 223.297 458.96C215.241 459.716 210.959 450.64 215.329 444.466C222.957 433.688 245.649 413.88 255.769 404.426C234.485 328.204 283.137 252.882 362.835 250.074C374.589 249.66 386.225 251.21 398.027 250.55Z"
              fill="url(#paint0_linear_612_1508)"></path>
            <path
              d="M801.077 457.72C796.111 456.832 751.107 412.884 749.681 408.568C748.281 404.334 752.527 395.244 753.471 390.676C765.019 334.814 728.465 279.384 671.529 269.668C656.617 267.124 623.873 271.454 616.535 268.804C615.141 268.302 597.397 233.81 590.315 226.16C584.067 219.412 553.941 200.526 577.867 194.553C596.385 197.032 619.965 233.848 627.293 251.846C644.301 250.646 661.355 249.172 678.203 252.706C737.239 265.088 778.961 319.096 773.025 379.398C772.263 387.136 770.553 394.678 768.935 402.27C778.259 414.24 830.891 450.664 801.077 457.72Z"
              fill="url(#paint1_linear_612_1508)"></path>
            <path
              d="M514.527 538.792C507.039 540.03 493.065 530.872 486.311 527.668L397.597 485.676C390.041 482.032 380.611 478.606 374.199 473.136C372.373 468.248 372.297 407.18 374.155 401.73C381.139 395.226 418.457 379.172 428.249 374.548L474.297 352.44C486.057 346.842 497.677 340.046 509.871 335.506C516.563 334.604 524.151 340.35 529.911 343.136L562.969 359.178C574.181 364.598 645.801 396.736 649.875 402.134C653.193 406.528 651.877 468.154 650.367 472.75C642.423 480.388 627.411 485.18 617.531 489.828L535.243 528.896C528.343 532.192 521.583 535.848 514.527 538.792ZM511.913 354.48L440.171 388.998C427.339 395.144 413.607 400.71 401.399 407.994C429.039 420.07 456.059 433.944 483.337 446.854C491.499 450.718 503.597 458.058 511.913 459.91C541.761 449.47 593.099 423.026 621.237 407.994C585.213 389.298 547.921 373.174 511.913 354.48ZM391.253 424.486V462.468C426.579 480.746 467.123 499.398 503.367 515.504C503.349 502.512 503.139 489.486 503.367 476.498C476.989 464.894 451.087 451.746 425.007 439.418C414.285 434.35 402.941 426.734 391.253 424.486ZM632.561 424.486C619.701 428.894 607.457 435.436 595.225 441.332L543.841 465.938C536.499 469.45 529.025 473.608 521.441 476.498C521.443 480.152 520.847 514.66 521.091 515.31L521.441 515.504C553.157 497.77 599.087 477.19 632.561 462.468C632.557 449.918 632.237 437.304 633.313 424.79L632.561 424.486Z"
              fill="url(#paint2_linear_612_1508)"></path>
            <path
              d="M215.429 519.976C211.007 536.26 198.353 548.336 181.044 549.542C131.153 553.016 126.186 478.302 174.932 476.498C192.117 470.892 208.381 488.678 215.429 501.968L328.833 501.934C334.769 501.866 346.891 499.88 351.733 504.194C357.839 509.632 353.799 518.772 346.357 519.698C340.097 520.476 333.363 520.014 327.049 520.014L292.751 519.976H215.429ZM174.707 493.534C164.051 495.46 156.99 505.68 158.957 516.328C160.924 526.976 171.171 533.998 181.812 531.988C192.394 529.992 199.368 519.812 197.412 509.224C195.455 498.634 185.304 491.62 174.707 493.534Z"
              fill="url(#paint3_linear_612_1508)"></path>
            <path
              d="M809.749 501.968C813.755 488.172 824.847 477.822 839.471 476.498C858.841 470.884 878.791 487.154 882.641 505.696C892.277 552.096 818.779 568.154 809.749 519.976L705.247 519.992C698.365 520.018 683.857 522.658 678.047 518.058C671.779 513.096 674.559 503.058 682.369 502.144C687.225 501.576 692.319 501.926 697.205 501.942L809.749 501.968ZM841.857 493.744C831.589 495.856 824.949 505.858 826.987 516.14C829.025 526.424 838.977 533.136 849.275 531.172C859.679 529.188 866.475 519.11 864.415 508.722C862.357 498.334 852.231 491.61 841.857 493.744Z"
              fill="url(#paint4_linear_612_1508)"></path>
            <path
              d="M511.913 685.062C507.327 683.998 502.567 681.06 498.267 679.096C459.543 661.398 418.555 642.636 381.009 623.202C367.393 616.154 373.117 593.928 373.199 578.87C373.255 568.526 368.857 551.576 379.659 545.524C389.127 544.512 409.843 557.558 418.791 561.832L484.069 592.62C493.333 596.972 502.437 602.174 511.913 605.984C521.069 602.578 529.967 597.532 538.827 593.374L608.431 560.052C617.675 555.662 648.805 534.936 650.975 556.008C651.725 563.284 652.123 613.212 650.641 618.588C649.855 621.438 646.471 622.686 644.065 623.958L549.287 668.82C538.287 673.92 523.243 682.782 511.913 685.062ZM391.253 569.508C391.227 582.618 391.101 595.738 391.253 608.848C404.187 612.71 419.251 621.172 431.771 627.164L503.367 661.28V621.934C494.247 619.02 485.347 613.308 476.681 609.206C449.617 596.398 419.049 580.108 391.253 569.508ZM632.561 569.508C595.491 584.138 559.029 606.226 521.441 621.934C521.439 626.502 520.621 659.444 521.441 661.28C558.445 645.992 595.919 625.686 632.561 608.848C632.663 604.582 633.123 570.568 632.561 569.508Z"
              fill="url(#paint5_linear_612_1508)"></path>
            <path
              d="M255.769 621.934C244.721 607.714 197.469 576.368 220.699 565.56C227.715 565.338 230.955 570.672 235.659 575.23L256.659 595.91C261.961 601.202 267.733 606.228 272.695 611.82C282.695 623.088 245.247 672.456 296.427 723.826C325.691 753.198 355.253 753.778 393.837 752.89C414.345 752.416 410.249 756.29 418.679 773.47C455.455 848.408 560.403 853.408 602.403 781.352C614.697 760.26 606.293 752.728 633.873 754.498C648.485 755.436 662.961 756.58 677.383 753.212C730.141 740.896 763.513 688.82 754.015 635.86C750.307 615.196 742.617 621.824 760.747 603.56L782.627 581.83C787.069 577.48 791.281 572.418 796.121 568.534C806.029 560.586 815.551 572.994 807.503 582.356C795.001 594.796 779.935 608.386 768.935 621.934C790.029 695.904 736.575 769.672 660.145 773.298C649.153 773.818 638.283 772.128 627.293 772.902C624.309 778.912 621.621 785.126 618.129 790.864C564.023 879.748 431.923 866.782 398.027 770.992C377.043 771.032 355.449 772.478 335.029 766.73C271.529 748.856 237.957 684.564 255.769 621.934Z"
              fill="url(#paint6_linear_612_1508)"></path>
            <defs>
              <linearGradient
                id="paint0_linear_612_1508"
                x1="691.5"
                y1="215.431"
                x2="224.431"
                y2="682.5"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#95E06C"></stop>
                <stop offset="1" stop-color="#68B684"></stop>
              </linearGradient>
              <linearGradient
                id="paint1_linear_612_1508"
                x1="691.5"
                y1="215.431"
                x2="224.431"
                y2="682.5"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#95E06C"></stop>
                <stop offset="1" stop-color="#68B684"></stop>
              </linearGradient>
              <linearGradient
                id="paint2_linear_612_1508"
                x1="691.5"
                y1="215.431"
                x2="224.431"
                y2="682.5"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#95E06C"></stop>
                <stop offset="1" stop-color="#68B684"></stop>
              </linearGradient>
              <linearGradient
                id="paint3_linear_612_1508"
                x1="691.5"
                y1="215.431"
                x2="224.431"
                y2="682.5"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#95E06C"></stop>
                <stop offset="1" stop-color="#68B684"></stop>
              </linearGradient>
              <linearGradient
                id="paint4_linear_612_1508"
                x1="691.5"
                y1="215.431"
                x2="224.431"
                y2="682.5"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#95E06C"></stop>
                <stop offset="1" stop-color="#68B684"></stop>
              </linearGradient>
              <linearGradient
                id="paint5_linear_612_1508"
                x1="691.5"
                y1="215.431"
                x2="224.431"
                y2="682.5"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#95E06C"></stop>
                <stop offset="1" stop-color="#68B684"></stop>
              </linearGradient>
              <linearGradient
                id="paint6_linear_612_1508"
                x1="691.5"
                y1="215.431"
                x2="224.431"
                y2="682.5"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#95E06C"></stop>
                <stop offset="1" stop-color="#68B684"></stop>
              </linearGradient>
            </defs>
          </svg>
          <div class="content-text">
            <h3>Technology Stack</h3>
            <p>
              Quasar Contact is built using modern web technologies including Angular 18, Node.js,
              Socket.IO, and MongoDB. The encryption is handled client-side using the Web Crypto
              API, ensuring maximum security and privacy.
            </p>
          </div>
        </div>

        <hr />

        <div class="content-section">
          <svg
            class="about-icon"
            width="1024"
            height="1024"
            viewBox="0 0 1024 1024"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M599.476 686.17C599.852 693.168 599.51 700.344 599.502 707.358L599.52 773.276C599.962 837.962 560.126 833.046 513.16 833.04L268.78 833.068C239.56 833.072 210.336 830.172 204.226 793.37C202.848 785.076 203.416 776.138 203.418 767.732L203.43 271.874C203.414 237.4 198.041 197.717 245.06 190.435C268.41 190.059 291.816 190.445 315.174 190.448L522.598 190.433C588.236 190.332 599.574 199.117 599.484 266.254L599.524 356.482C599.532 363.72 602.068 379.386 596.664 385.178C592.516 389.626 583.728 388.504 581.08 382.92C577.564 375.502 579.688 345.946 579.688 336.948L579.658 263.986C579.672 215.628 578.97 210.196 528.4 210.478C515.33 227.98 505.54 257.57 480.826 259.36C470.634 260.1 460.286 259.752 450.07 259.746H352.202C307.01 259.788 293.866 255.736 276.436 210.478L260.432 210.43C224.322 210.288 223.394 223.82 223.386 256.126L223.394 782.028C223.998 821.162 262.66 813.06 289.754 813.068L529.2 813.07C573.754 813.06 579.744 807.214 579.702 765.664L579.64 716.014C579.616 707.96 575.386 675.208 591.456 679.214C595.156 680.138 597.508 683.112 599.476 686.17ZM298.854 210.478C314.876 244.63 320.198 239.722 354.288 239.702L449.606 239.684C466.568 239.678 482.3 243.956 492.84 229.154C496.628 223.088 500.708 216.974 503.73 210.478H298.854Z"
              fill="url(#paint0_linear_612_1517)"></path>
            <path
              d="M615.99 424.51L615.964 396.164C615.978 348.736 637.614 312.84 687.886 307.2C710.67 304.52 734.702 313.752 751.136 329.378C760.826 338.592 784.758 377.11 771.518 389.952C759.524 401.588 755.608 384.246 754.41 376.352C747.5 330.742 687.392 309.612 653.182 344.124C636.914 360.534 635.452 376.604 635.454 398.47L635.486 424.51L774.482 424.492C825.484 424.504 820.926 442.818 820.936 489.636L820.924 566.146L820.986 602.946C821.012 628.506 820.15 651.084 787.828 651.684C745.206 652.474 702.416 651.664 659.776 651.66L620.078 651.672C576.532 651.79 568.134 646.946 568.226 605.974L567.87 453.24C567.764 423.058 593.508 424.43 615.99 424.51ZM777.694 444.47L661.49 444.46C650.998 444.46 596.688 443.282 590.368 445.708C586.152 450.844 588.464 475.47 588.462 482.83L588.46 595.78C588.476 626.114 581.582 631.382 613.75 631.554L770.762 631.588C781.912 631.702 794.294 635.024 801.056 623.92C801.586 586.79 801.064 549.574 801.062 512.434L801.056 476.714C801.05 455.192 805.77 442.444 777.694 444.47Z"
              fill="url(#paint1_linear_612_1517)"></path>
            <path
              d="M361.664 492.132C313.524 455.99 333.454 380.27 394.782 373.186C447.708 365.02 489.006 432.126 453.806 478.622C450.208 483.372 445.87 487.682 441.896 492.132C481.164 502.888 509.128 547.376 510.448 586.304C511.334 612.392 515.906 617.398 491.614 628.852C465.616 641.112 437.118 647.658 408.406 648.524C376.734 648.73 344.926 644.814 315.578 632.23C293.944 622.954 292.358 624.334 292.456 601.888C292.684 549.674 307.382 510.7 361.664 492.132ZM396.968 392.788C371.48 394.896 352.54 417.29 354.692 442.776C356.846 468.26 379.272 487.16 404.752 484.964C430.172 482.772 449.016 460.414 446.868 434.99C444.722 409.568 422.394 390.686 396.968 392.788ZM400.8 504.012C337.492 505.224 309.22 549.436 311.936 608.864C340.756 621.972 370.58 628.98 402.366 628.498C433.144 628.464 463.238 621.906 490.496 607.37C490.512 599.514 490.86 591.456 490.266 583.628C486.99 540.452 444.754 499.402 400.8 504.012Z"
              fill="url(#paint2_linear_612_1517)"></path>
            <path
              d="M683.544 566.146C639.724 547.304 650.022 491.878 690.802 487.184C737.54 482.232 751.208 554.608 704.012 566.146C703.98 576.436 704.306 586.762 704.012 597.046C702.126 598.826 700.36 600.124 698.15 601.46C678.762 607.24 683.47 576.702 683.544 566.146ZM690.474 507.758C679.892 509.898 672.982 520.128 674.944 530.744C676.906 541.36 687.018 548.442 697.664 546.66C704.714 545.48 710.578 540.588 713.006 533.866C715.434 527.142 714.046 519.632 709.376 514.222C704.706 508.81 697.48 506.34 690.474 507.758Z"
              fill="url(#paint3_linear_612_1517)"></path>
            <path
              d="M420.066 608.864C413.788 609.25 384.7 609.676 380.444 607.848C374.474 605.282 367.168 558.522 383.684 553.8C391.53 553.772 418.774 552.428 424.708 555.102C427.546 556.38 437.548 603.892 420.066 608.864ZM394.782 573.53C394.674 578.688 394.684 583.822 394.782 588.98H408.406C408.42 583.832 408.476 578.678 408.406 573.53C403.868 573.526 399.32 573.468 394.782 573.53Z"
              fill="url(#paint4_linear_612_1517)"></path>
            <path
              d="M435.126 782.028L391.76 782.058C385.18 782.058 367.702 784.12 362.466 779.82C354.962 773.66 358.738 762.492 372.204 762.3L414.356 762.27C421.102 762.268 437.882 760.302 443.434 764.616C451 770.492 447.954 781.386 435.126 782.028Z"
              fill="url(#paint5_linear_612_1517)"></path>
            <defs>
              <linearGradient
                id="paint0_linear_612_1517"
                x1="686.656"
                y1="265"
                x2="171.656"
                y2="780"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#95E06C"></stop>
                <stop offset="1" stop-color="#68B684"></stop>
              </linearGradient>
              <linearGradient
                id="paint1_linear_612_1517"
                x1="686.656"
                y1="265"
                x2="171.656"
                y2="780"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#95E06C"></stop>
                <stop offset="1" stop-color="#68B684"></stop>
              </linearGradient>
              <linearGradient
                id="paint2_linear_612_1517"
                x1="686.656"
                y1="265"
                x2="171.656"
                y2="780"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#95E06C"></stop>
                <stop offset="1" stop-color="#68B684"></stop>
              </linearGradient>
              <linearGradient
                id="paint3_linear_612_1517"
                x1="686.656"
                y1="265"
                x2="171.656"
                y2="780"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#95E06C"></stop>
                <stop offset="1" stop-color="#68B684"></stop>
              </linearGradient>
              <linearGradient
                id="paint4_linear_612_1517"
                x1="686.656"
                y1="265"
                x2="171.656"
                y2="780"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#95E06C"></stop>
                <stop offset="1" stop-color="#68B684"></stop>
              </linearGradient>
              <linearGradient
                id="paint5_linear_612_1517"
                x1="686.656"
                y1="265"
                x2="171.656"
                y2="780"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#95E06C"></stop>
                <stop offset="1" stop-color="#68B684"></stop>
              </linearGradient>
            </defs>
          </svg>
          <div class="content-text">
            <h3>Privacy First</h3>
            <p>
              Privacy is at the core of everything I do. I collect minimal data (only email
              addresses for user identification), implement end-to-end encryption, and maintain a
              zero-knowledge architecture. I do not sell, share, or analyze your personal data.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
